@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --primary: 13 69% 62%;
    --primary-foreground: 0 0% 100%;

    --muted: 0 0% 98%;
    --muted-foreground: 0 0% 29%;

    --accent: 227 21% 21%;
    --accent-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --ring: 13 69% 62%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    scroll-behavior: smooth;
  }
}

/* Fix browser autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #1A1A1A !important;
    transition: background-color 5000s ease-in-out 0s;
}
